---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
const title = "Plan";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="../styles/global.css">
  </head>
  <body>
    <Navbar />
    <header>
      <h1>{title}</h1>
      <p>Plan Yo Trip.</p>
    </header>

    <main>
    
    </main>

    <footer>
      <p>© 2025 Uganda Travel Services</p>
      <img src="/uganda-travel-service/uganda-flag.svg"  alt="Ugandan Flag - A crested crane on a field of Red, Yellow, and Black" width="200" />
    </footer>
  </body>
</html>